@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Diphylleia&family=Grape+Nuts&family=Inter:wght@300;400;800&family=Josefin+Sans:wght@200;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    background-color: #fbb904;
    height: 54rem;
}

#logo {
    width: 12em;
    height: 12em;
    border-radius: 100%;
    margin-top: 1em;
    margin-left: calc(100vh - 96vh);
}

#principal-nav {
    width: 40%;
    height: 3em;
    background-color: #000000;
    position: absolute;
    top: 3px;
    right: 5%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ul-of-principal-navegation {
    display: inline-flex;
}

.li-of-principal-navegation {
    margin: 0 3rem 0 auto;
    font-size: 12px;
    color: #fff;
}

.first-li-in-principal-nav {
    color: #fbb904;
}

#section-slogan-of-header {
    width: 30%;
    position: sticky;
    right: 0;
    bottom: 0;
    background-color: red;
}















#principal-image {
    position: absolute;
}