header nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem 3rem;
  background-color: var(--black);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px var(--black);
  border-bottom-left-radius: 15px;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul li a {
  font-size: 1.4rem;
  color: var(--white);
}
