* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --white: #fff;
  --black: #000;
  --gray-200: rgba(67, 61, 61, 0.8);
  --gray-300: rgba(67, 61, 61);
  --orange-200: #fbb904;
}

body {
  font-size: 1.6rem;
}
